@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    min-width: 100%;
    min-height: 100%;
}

img{
    width: 100%;
}

#MainSection{
    min-width: 100%;
    min-height: 100vh;
    background: #DFDFDF;
    padding: 10vh 0px 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#totals_sales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #0085FF;
    border-radius: 10px;
}

#totals_expenses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f00;
    border-radius: 10px;
}

#totals_earnings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #00C09E;
    border-radius: 10px;
}

#totalSales{
    font-weight: 800;
    color: #fff;
    margin-right: 10px;
}

#totalExpenses{
    font-weight: 800;
    color: #fff;
    margin-right: 10px;
}

#totalEarnings{
    font-weight: 800;
    color: #fff;
    margin-right: 10px;
}

#totals{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.total-icon{
    margin-right: 20px;
}
