@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    min-width: 100%;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #fff;
}

span{
    font-weight: 800;
    color: #0085FF;
    margin-right: 10px;
}

p{
    font-weight: 800;
    color: #0085FF;
}

#MainSection{
    min-width: 100%;
    min-height: 100vh;
    background: #DFDFDF;
    padding: 10vh 0px 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-top{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #0085FF;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
}

#box{
    margin: 0;
}

#inputs{
    margin-top: 10px;
}

#input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}

select:hover {
    background-color: #0085FF;
}

.button{
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #00C09E;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
}

.table-box{
    border-radius: 20px;
    background-color: #000;
}

td.table-column{
    padding-top: 20px;
    align-items: center;
    text-align: center;
}

.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card-mobile{
    display: none;
}

.icons{
    border: none;
    background-color: transparent;
}

#editANDdelete{
    border-radius: 20px;
}

@media screen and (max-width: 1000px){
    .table-box{
        display: none;
    }
    #card-mobile{
        display: block;
        margin-bottom: 30px;
    }
}
